.blogWrapper {
    position: relative;
    display: block;
    margin:auto;
    margin-bottom: 2rem;
    width: 100%;
}


.blogTitle {
    transition: 0.3s;
    position: relative;
    background-color: var(--color-primary);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    left:50%;
    transform: translateX(-50%);
    color: var(--color-headlines);
    cursor: pointer;
    padding:3px;
    border: ridge 3px hsl(41, 31%, 36%, 0.75)
}

.blogTitle:hover{
    background-color: var(--color-secondary);
}

.blogContent {
    margin:auto;
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    border: inset 2px var(--color-primary)
}


.blogText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    color: var(--color-text);
}