.blogWrapper {
    position: relative;
    margin:auto;
    margin-bottom: 2rem;
    cursor: pointer;
}


.blogTitle {
    text-align: center;
    color: var(--color-headlines);
}

.blogContent {
    margin:auto;
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    border: inset 2px var(--color-primary)
}


.blogText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    color: var(--color-text);
}