.blogWrapper {
    position: relative;
    width: 75vw;
    margin:auto;
    margin-bottom: 2rem;
    background-color: var(--color-secondary);
    border: inset 2px var(--color-primary)
}

.blogClickable {
    cursor: pointer;
}

.blogTitle {
    text-align: center;
    color: var(--color-headlines);
}

.blogContent {
    width:100%;
    display: flex;
    justify-content: center;
}


.blogText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    color: var(--color-text);
}