.cardWrapper{
    position: relative;
    height:90%;
}

.cardBody{
    position: relative;
    height:90%;
    margin: 10px;
    padding: 5px;
}

.cardBody:hover{
    background-color: var(--color-primary);
}

.cardImage{
    position: relative;
    height:70%;
    opacity: 0.7;
}



.cardText{
    color:var(--color-text);
    text-align: center;
}