.carouselWrapper {
    position: relative;
    width: 85vw;
    margin:auto;
}

.carouselBody {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    margin:auto;
}

.carouselArrow {
    transition: 0.3s;
}

.carouselArrow:hover{
    cursor: pointer;
}