.introWrapper {
    position: relative;
    width: 80vw;
    margin:auto;
    margin-bottom: 2rem;
}

.introTitle {
    text-align: center;
    color: var(--color-headlines);
}

.introContent {
    width:100%;
    display: flex;
}

.introVideo {
    position: relative;
    width:50%;
    height:290px;
    margin-right: 1rem;

}

.introText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    color: var(--color-text);
    margin-left: 1rem;

}

@media (min-width: 1200px) {
    .introWrapper {
        width:75vw;
    }
}

@media (min-width: 1400px) {
    .introWrapper {
        width:70vw;
    }
}


@media (min-width: 1700px) {
    .introWrapper {
        width:60vw;
    }
}