.introWrapper {
    position: relative;
    width: 85vw;
    margin:auto;
}

.introTitle {
    text-align: center;
    color: var(--color-headlines);
}

.introContent {
    width:100%;
    display: flex;
}

.introVideo {
    position: relative;
    width:50%;
    height:290px;
}

.introText {
    width:50%;
    color: var(--color-text);
}

@media (min-width: 1200px) {
    .introWrapper {
        width:75vw;
    }
}

@media (min-width: 1400px) {
    .introWrapper {
        width:70vw;
    }
}


@media (min-width: 1700px) {
    .introWrapper {
        width:60vw;
    }
}