.introWrapper {
    position: relative;
    width: 85vw;
    margin:auto;
}

.introTitle {
    text-align: center;
    color: var(--color-text);
}

.introContent {
    width:100%;
    display: flex;
}

.introVideo {
    position: relative;
    width:50%;
    height:290px;
}

.introText {
    width:50%;
    color: var(--color-text);
}