.navWrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100vw;
    background-color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

.navElement {
    padding-left: 10px;
    padding-right: 10px;
  }

.navElement:hover {
  color: var(--color-primary);
  cursor: pointer;
}